<div>
    <h2 class="text-danger">Friend request not found.</h2>
    <p>The friend request you referenced does not exist in the system. Please, make sure the link you followed is identical with the one in the email.</p>
</div>