@model GameBoard.Models.FriendRequest.FriendRequestViewModel
@{
    ViewData["Title"] = $"{Model.UserNameFrom} friend request";
}

@section FriendsSidebar
{
    @await Component.InvokeAsync("FriendsSidebar")
}

<div>
    <h2>Friend request from @Model.UserNameFrom.</h2>
    <p>User <strong>@Model.UserNameFrom</strong> wants to add you to his friends list!</p>
    <form class="form-inline" method="post">
        <input value="@Model.Id" name="id" hidden readonly/>
        <button class="btn btn-dark mr-3" type="submit" asp-action="AcceptFriendRequest">Accept</button>
        <button class="btn btn-danger" type="submit" asp-action="RejectFriendRequest">Reject</button>
    </form>
</div>