@model IEnumerable<GameBoard.Models.User.UserViewModel>

<div id="friends-sidebar-container">
    <div id="friends-sidebar" class="bg border-top border-right box-shadow">
        <h3>Friends</h3>
        <hr/>
        <ul class="list-unstyled components border-bottom">
            @foreach (var user in Model)
            {
                <li class="active">@await Component.InvokeAsync("UserCard", new {user})</li>
            }
        </ul>
    </div>
    <div id="friends-sidebar-search-form" class="form-inline bg border-top border-right border-bottom box-shadow">
        <label class="">Add friends</label>
        <div id="friends-sidebar-search-box" class="friends-autocomplete">
            <input id="friends-sidebar-searchbox-input" autocomplete="off" class="form-control" type="text" placeholder="Search for users..."/>
            <i class="fa fa-search"></i>
        </div>
    </div>
    <button id="friends-sidebar-collapse" class="btn btn-dark border-right border-top border-bottom border-left-0" type="button">
        <i id="friends-sidebar-collapse-icon" class="fa fa-angle-right"></i>
    </button>
</div>