@model GameBoard.Models.FriendsSidebar.FriendsSidebarViewModel

<div id="friends-sidebar-container" @(Model.Toggled ? "class=toggled" : "")>
    <div id="friends-sidebar" class="bg border-top border-right box-shadow">
        <h3>Friends</h3>
        <hr/>
        @foreach (var group in Model.Groups)
        {
            @await Component.InvokeAsync("GroupCard", new
            {
                GroupId = group.Id, GroupName = group.Name, group.Users, Model.GroupInviteEnabled, Model.GameEventId, Model.SubComponentName, Model.SubComponentArguments
            })
        }
        @await Component.InvokeAsync("GroupAddBox")
    </div>
    @await Component.InvokeAsync("UserSearchBox")
    <button id="friends-sidebar-collapse" class="btn btn-dark border-right border-top border-bottom border-left-0" type="button">
        <i id="friends-sidebar-collapse-icon" class="fa @(Model.Toggled ? "fa-angle-left" : "fa-angle-right")"></i>
    </button>
</div>