<div id="friends-sidebar-container">
    <div id="friends-sidebar" class="bg border-top border-right box-shadow">
        <h3>Friends</h3>
        <hr/>
        <strong>You need to log in to view your friends list.</strong>
    </div>
    <button id="friends-sidebar-collapse" class="btn btn-dark border-right border-top border-bottom border-left-0" type="button">
        <i id="friends-sidebar-collapse-icon" class="fa fa-align-left"></i>
    </button>
</div>