@model IEnumerable<GameBoard.Models.User.UserViewModel>
<div id="friends-sidebar-container">
    <div id="friends-sidebar" class="bg border-top border-right box-shadow">
        <h3>Friends</h3>
        <hr/>
        <button id="group-collapse-btn1" class="btn btn-dark" type="button" data-toggle="collapse" href="#collapseGroup1">
            Group1
            <i class="fa fa-angle-double-down"></i>
        </button>
        <div class="collapse" id="collapseGroup1">
            <ul class="list-unstyled components border-top border-bottom">
                @foreach (var user in Model)
                {
                    <li class="active">@await Component.InvokeAsync("UserCard", new { user })</li>
                }
            </ul>
            @await Component.InvokeAsync("FriendSearchBox")
        </div>
        <button id="group-collapse-btn2" class="btn btn-dark" type="button" data-toggle="collapse" href="#collapseGroup2">
            Group2
            <i class="fa fa-angle-double-down"></i>
        </button>
        <div class="collapse" id="collapseGroup2">
            <ul class="list-unstyled components border-top border-bottom">
                @foreach (var user in Model)
                {
                    <li class="active">@await Component.InvokeAsync("UserCard", new { user })</li>
                }
            </ul>
            @await Component.InvokeAsync("FriendSearchBox")
        </div>
        <button id="group-collapse-btn3" class="btn btn-dark" type="button" data-toggle="collapse" href="#collapseGroup3">
            Group3
            <i class="fa fa-angle-double-down input-group-append m-auto"></i>
        </button>
        <div class="collapse" id="collapseGroup3">
            <ul class="list-unstyled components border-top border-bottom">
                @foreach (var user in Model)
                {
                    <li class="active">@await Component.InvokeAsync("UserCard", new { user })</li>
                }
            </ul>
            @await Component.InvokeAsync("FriendSearchBox")
        </div>
        @await Component.InvokeAsync("GroupAddBox")
    </div>
    @await Component.InvokeAsync("UserSearchBox")
    <button id="friends-sidebar-collapse" class="btn btn-dark border-right border-top border-bottom border-left-0" type="button">
        <i id="friends-sidebar-collapse-icon" class="fa fa-angle-right"></i>
    </button>
</div>
   