@model IEnumerable<GameBoard.Models.User.UserViewModel>

<div class="autocomplete-items">
    @foreach (var user in Model)
    {
        <div class="autocomplete-item">
            @await Component.InvokeAsync("UserCard", new {user, miniature = true})
            <form asp-controller="Friends" asp-action="CreateFriendRequest"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-success="friendRequestPopupGenerator.generateSuccessPopup(document.querySelector('#friend-request-button-@user.Id'), xhr)"
                  data-ajax-failure="friendRequestPopupGenerator.generateErrorPopup(document.querySelector('#friend-request-button-@user.Id'), xhr)">
                <input readonly hidden name="userNameFrom" value="@User.Identity.Name"/>
                <input readonly hidden name="userNameTo" value="@user.UserName"/>
                <button id="friend-request-button-@user.Id" class="btn btn-success mt-1" type="submit" data-toggle="popover">
                    <i class="fa fa-user-plus"></i>
                </button>
            </form>
        </div>
    }
</div>