@model IEnumerable<GameBoard.Models.User.UserViewModel>

<div class="autocomplete-items autocomplete-users">
    <p class="text-danger p-2">There are no users matching your search criteria.</p>
</div>