@model GameBoard.Models.Groups.GroupViewModel

<h2 class="username"> @Model.GroupName </h2>
<ul class="list-unstyled components border-bottom">
    @foreach (var user in Model.Users)
    {
        <li class="active">@await Component.InvokeAsync("UserCard", new {user})</li>
    }
</ul>