@model GameBoard.Models.User.UserViewModel

<div class="media user-card-mini">
    <img src="https://www.gravatar.com/avatar/@Model.EmailHash.Value" class="gravatar-sm rounded img-fluid align-self-center mr-3" alt="gravatar"/>
    <div class="media-body">
        <p>@Model.UserName</p>
    </div>
</div>