@model GameBoard.Models.User.UserViewModel

<div class="media friend-card btn btn-dark">
    <img src="https://www.gravatar.com/avatar/@Model.EmailHash.Value" class="gravatar rounded img-fluid align-self-center mr-3" alt="gravatar"/>
    <div class="media-body">
        <h5 class="mt-0">@Model.UserName</h5>
    </div>
</div>