@model GameBoard.Models.User.UserViewModel

<div class="media friend-card-mini">
    <img src="https://www.gravatar.com/avatar/@Model.EmailHash.Value" class="friend-gravatar-mini rounded img-fluid align-self-center mr-3" alt="gravatar" />
    <div class="media-body">
        <p>@Model.UserName</p>
    </div>
</div>