@model GameBoard.Models.User.UserViewModel

<div title="@Model.UserName" class="user-card-mini">
    <img src="https://www.gravatar.com/avatar/@Model.EmailHash.Value" class="gravatar-sm rounded img-fluid align-self-center mr-3" alt="gravatar"/>
    <div class="username-container">
        <div class="username">@Model.UserName</div>
    </div>
</div>