@page
@using Utilities
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage"/>
<div class="row">
    <div class="col-md-6">
        <div>
            <label>Avatar</label>
            <div class="media row">
                <img src="https://www.gravatar.com/avatar/@GravatarEmailHasher.CalculateGravatarEmailHash(Model.Input.Email)" class="gravatar-lg rounded align-self-center col-auto" alt="gravatar"/>
                <div class="media-body col-auto">
                    <p>GameBoard uses the Gravatar service (Globally Recognized Avatar) to provide user profile pictures.</p> 
                    <p>You can set up your gravatar at <a href="https://gravatar.com/">the Gravatar website</a>, using the same email you registered with.</p>
                </div>
            </div>
        </div>
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" disabled/>
                        <span class="input-group-append" aria-hidden="true">
                            <span class="fa fa-check-circle text-success"></span>
                        </span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" disabled/>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link" hidden>Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary" hidden>Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}