@model GameBoard.Models.GameEventList.GameEventListViewModel

<form class="float-right">
    <button type="submit" class="btn btn-success">Create new game event</button>
</form>
<h1 class="mb-4 mr-xl-5 pr-xl-5">Your game events</h1>
<div id="game-events-container" data-simplebar>
    <table id="game-events-table" class="table table-striped table-dark">
        <thead>
        <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var gameEvent in Model.Created.Concat(Model.Accepted))
        {
            <tr onclick="window.location.href = '/GameEvent/GameEvent/@gameEvent.Id'">
                <td>@gameEvent.Name</td>
                <td>@await Component.InvokeAsync("UserCard", new {user = gameEvent.Creator})</td>
                <td class="text-success">Active</td>
            </tr>
        }
        @foreach (var gameEvent in Model.Pending)
        {
            <tr onclick="window.location.href = '/GameEvent/GameEvent/@gameEvent.Id'">
                <td> @gameEvent.Name</td>
                <td>@await Component.InvokeAsync("UserCard", new {user = gameEvent.Creator})</td>
                <td class="text-warning">Invitation pending</td>
            </tr>
        }
        </tbody>
    </table>
</div>