@model GameBoard.Models.GameEvent.RemoveFromGameEventViewModel

<article>
    <h1>Removing @Model.UserName.</h1>
    <p>You're about to remove @Model.UserName from the @Model.GameEventName event. You will be able to send this user an invitation to this event later. Are you sure?</p>
    <form class="float-left mr-2" method="get">
        <input type="hidden" asp-for="GameEventId" name="id" />
        <button class="btn btn-dark" asp-action="GameEvent" asp-controller="GameEvent">
            No, return
        </button>
    </form>
    <form class="float-left" method="post">
        <input type="hidden" asp-for="GameEventId" />
        <input type="hidden" asp-for="GameEventName" />
        <input type="hidden" asp-for="UserName" />
        <button class="btn btn-danger" asp-action="RemoveFromGameEvent" asp-controller="GameEventParticipation">
            Yes, remove
        </button>
    </form>
</article>