@model GameBoard.Models.GameEventInviteForm.GameEventInviteFormViewModel

<form class="game-event-invite-form game-event-group-invite-form" asp-action="SendGameEventInviteToGroup" asp-controller="GameEventParticipation"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-success="gameEventGroupInviteFormPopoverGenerator.generateSuccessPopover(document.querySelector('#game-event-invite-group-@Model.Group.GroupId'), xhr)"
      data-ajax-failure="gameEventGroupInviteFormPopoverGenerator.generateErrorPopover(document.querySelector('#game-event-invite-group-@Model.Group.GroupId'), xhr)">
    <input type="hidden" asp-for="@Model.GameEventId" />
    <input type="hidden" asp-for="@Model.Group.GroupId" />
    <button id="game-event-invite-group-@Model.Group.GroupId" type="submit" class="btn btn-dark" data-toggle="popover" data-placement="center"
            title="Invite group @Model.Group.GroupName to the @Model.GameEventName event">
        <i class="fa fa-send"></i>
    </button>
</form>