@model GameBoard.Models.GameEvent.GameEventViewModel

@{
    var description = String.IsNullOrEmpty(Model.DescriptionTab.Description) ? "None" : Model.DescriptionTab.Description;
}

<article class="description-tab">
    <h1 class="name" title="@Model.Name">@Model.Name</h1>
    <section class="description">
        <h3 class="name">@Html.DisplayNameFor(m => m.DescriptionTab.Description)</h3>
        <p class="description-text p-1 border-full">
            @description
        </p>
    </section>
    @if (Model.IsCreator)
    {
        <section class="control-panel">
            <form asp-controller="DescriptionTab" asp-action="EditDescriptionTab" method="get">
                <input type="hidden" asp-for="Id" />
                <button class="btn btn-dark" type="submit">Edit</button>
            </form>
        </section>
    }
</article>