<div id="user-search-form" class="form-inline bg border-top border-right border-bottom box-shadow mb-3">
    <label class="mb-2">Add friends</label>
    <div id="user-search-box" class="user-search-autocomplete input-group">
        <input id="user-search-box-input" autocomplete="off" class="form-control mr-2" type="text" placeholder="Search for users..."/>
        <i class="fa fa-search input-group-append m-auto"></i>
    </div>
</div>