@using GameBoard.Models.GameEvent
@model GameBoard.Models.GameEvent.GameEventViewModel
@{
    ViewData["Title"] = Model.Name;
}

@section FriendsSidebar
{
    @if (Model.IsCreator)
    {
        @await Component.InvokeAsync("FriendsSidebar", new
        {
            toggled = true,
            groupInviteEnabled = true,
            subComponentName = "GameEventInviteForm",
            gameEventId = Model.Id,
            subComponentArgumentsProvider = (Func<string, object>) (userName => new
            {
                gameEventId = Model.Id,
                gameEventName = Model.Name,
                userName
            })
        })
    }
    else
    {
        @await Component.InvokeAsync("FriendsSidebar")
    }
}

<div class="tabs-bar">
    <button id="defaultOpenTabButton" class="btn btn-dark tablinks active">Info</button>
    <button id="openDescriptionTabButton" class="btn btn-dark tablinks">Description</button>
</div>

<div id="info" class="tabcontent">
    @await Component.InvokeAsync("MainTab")
</div>

<div id="description" class="tabcontent" hidden>
    @await Component.InvokeAsync("DescriptionTab")
</div>
