@using GameBoard.Models.GameEvent
@using GameBoard.Models.GameEventInviteForm
@model GameBoard.Models.GameEvent.GameEventViewModel
@{
    ViewData["Title"] = Model.Name;
}

@section FriendsSidebar
{
    @if (Model.IsCreator)
    {
        @await Component.InvokeAsync("FriendsSidebar", new
        {
            toggled = true,
            subComponentName = "GameEventInviteForm",
            subComponentArgumentsProvider = (Func<string, object>) (userName =>
                new GameEventInviteFormViewModel(Model.Id, Model.Name, userName))
        })
    }
    else
    {
        @await Component.InvokeAsync("FriendsSidebar")
    }
}

<div class="tabs-bar">
    <button id="defaultOpenTabButton" class="btn btn-dark tablinks" onclick="openTab(event, 'info')">Info</button>
    <button class="btn btn-dark tablinks" onclick="openTab(event, 'description')">Description</button>
</div>

<div id="info" class="tabcontent">
    @await Component.InvokeAsync("InfoTab")
</div>

<div id="description" class="tabcontent" hidden>
    @await Component.InvokeAsync("DescriptionTab")
</div>
