@using GameBoard.Models.User
<div id="friends-menu" class="bg-white border-top border-right box-shadow text-dark">
    <button id="friends-menu-collapse" class="btn btn-light" type="button">
        <i id="friends-menu-collapse-icon" class="fa fa-align-left"></i>
    </button>

    <h3 class="sidebar-header">Friends</h3>
    <hr/>
    <ul class="list-unstyled components border-bottom">

        @for (var i = 1; i < 5; ++i)
        {
            var user = new UserViewModel(i.ToString(), $"User {i}", "registermen@gmail.com");
            <li class="active">@await Component.InvokeAsync("FriendCard", user)</li>
        }
    </ul>
</div>