@model GameBoard.Models.Groups.GroupViewModel

<div class="autocomplete-items" id="autocomplete-@Model.GroupId">
    <p class="text-danger p-2">There are no friends matching your search criteria.</p>
</div>