@model GameBoard.Models.FriendSearch.FriendSearchResultViewModel

<div class="autocomplete-@Model.GroupId autocomplete-items">
    @foreach (var user in Model.Users)
    {
        <div class="autocomplete-item user-result">
            @await Component.InvokeAsync("UserCard", new {user, miniature = true})
        </div>
    }
</div>