<div id="group-add-form" class="form-inline bg border-top border-right border-bottom box-shadow mb-3">
    <label class="mb-2">Add groups</label>
    <div id="group-add-box" class="user-search-autocomplete input-group">
        <input id="group-add-box-input" autocomplete="off" class="form-control mr-2" type="text" placeholder="New group name" />
        <i class="fa fa-search input-group-append m-auto"></i>
    </div>
</div>