@model GameBoard.Models.Groups.GroupViewModel

<div id="friend-search-form-@Model.Id" class="form-inline bg border-top border-right border-bottom border-left box-shadow mb-3 friend-search-form">
    <label class="mb-2">Add friends to this group</label>
    <div id="friend-search-box-@Model.Id" class="user-search-autocomplete input-group friend-search-box">
        <form asp-controller="Groups" asp-action="AddUserToGroup"
              class="invite-form"
              data-ajax="true" data-ajax-method="POST"
              data-ajax-success="groupAddPopoverGenerator.generateSuccessPopover(document.querySelector('#group-add-button-@Model.Id'), xhr)"
              data-ajax-failure="groupAddPopoverGenerator.generateErrorPopover(document.querySelector('#group-add-button-@Model.Id'), xhr)">
            <input type="hidden" name="groupId" value="@Model.Id" asp-for="@Model.Id" class="group-id-input" />
            <div class="input-group">
                <input name="userName" id="friend-search-box-input-@Model.Id" autocomplete="off" class="form-control mr-2 friend-search-box-input" type="text" placeholder="Search for friends..." />
                <button id="group-add-button-@Model.Id" class="btn btn-dark input-group-append" type="submit" data-toggle="popover" data-placement="right">
                    <i class="fa fa-user-plus"></i>
                </button>
            </div>
        </form>
        <input readonly hidden name="userName" value="@User.Identity.Name" class="user-name-input"/>
    </div>
</div>