#friends-sidebar-container {
    margin-left: -250px;
    margin-right: 5%;
    transition: all 0.3s;
    position: relative;
}

#friends-sidebar-container.toggled { margin-left: 0; }

@media (min-width: 768px) {
    #friends-sidebar-container {
        margin-left: 0;
        margin-right: 5%;
        transition: all 0.3s;
        position: relative;
    }

    #friends-sidebar-container.toggled { margin-left: -250px; }
}

#friends-sidebar {
    width: 250px;
    min-width: 250px;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    height: 77vh;
    z-index: 999;
    transition: all 0.3s;
}

#friends-sidebar-collapse {
    position: absolute;
    left: 250px;
    top: 50px;
    z-index: 999;
}

#friends-sidebar ul.components { padding: 20px 0; }

#friends-sidebar ul.components li { padding: 0 10px; }

#friends-sidebar ul p { padding: 10px; }

.friend-card {
    padding: 5%;
    margin-bottom: 3px;
}

.friend-gravatar {
    max-width: 32px;
    max-height: 32px;
    min-width: 16px;
    min-height: 16px;
}

#friends-sidebar-search-form {
    padding: 10px;
    width: 250px;
}

.friends-autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    border: 2px solid #1d1c1b;
    max-height: 25vh;
}

.autocomplete-items .autocomplete-item {
    padding: 10px;
    cursor: pointer;
    background-color: #1a1c1e; /* Fallback  color. */
    background-color: rgba(26, 28, 30, 0.5);
    display: flex;
    justify-content: space-between;
}

.autocomplete-items .autocomplete-item:hover { background-color: #3a3c3e; }