#friends-sidebar-container {
    margin-left: -250px;
    margin-right: 5%;
    transition: all 0.3s;
    position: relative;
}

#friends-sidebar-container.toggled { margin-left: 0; }

#friends-sidebar {
    width: 250px;
    min-width: 250px;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    height: 77vh;
    z-index: 999;
    transition: all 0.3s;
}

#friends-sidebar-collapse {
    position: absolute;
    left: 250px;
    top: 50px;
    z-index: 999;
}

#friends-sidebar ul.components { padding: 20px 0; }

#friends-sidebar ul.components li { padding: 0 10px; }

#friends-sidebar ul p { padding: 10px; }

.friend-card {
    padding: 5%;
    margin-bottom: 3px;
}

.friend-gravatar {
    max-width: 32px;
    max-height: 32px;
    min-width: 16px;
    min-height: 16px;
}
