#group-add-form {
    padding: 10px;
}

#group-add-box {
    width: 100%;
}

#group-collapse-btn1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

#group-collapse-btn2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

#group-collapse-btn3 {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}