.popover { background-color: transparent }

.popover-header-error {
    background-color: #751a1a;
    border-bottom: none;
}

.popover-header-success {
    background-color: #1a751a;
    border-bottom: none;
}

.popover-body {
    background-color: #a5a8aa;
    color: black;
}