#user-search-form {
    padding: 10px;
    width: 250px; /* Fallback value. */
    width: var(--sidebar-width);
}

.user-search-autocomplete { position: relative; }

#user-search-box { width: 100%; }

.autocomplete-items {
    background-color: #0a0d10; /* Fallback color. */
    background-color: rgba(10, 13, 16, 0.8);
    border: 2px solid #1d1c1b;
    left: 0;
    max-height: 25vh;
    position: absolute;
    right: 0;
    top: -6vh;
    z-index: 999;
}

.autocomplete-items .autocomplete-item {
    background-color: #1a1d20; /* Fallback color. */
    background-color: rgba(26, 29, 32, 0.9);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 1px;
    padding: 5px;
}

.autocomplete-items .user-result {
    display: grid;
    grid-template-areas: "user-card invite";
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
}

.friend-result .user-result .user-card-mini { grid-area: user-card }

.friend-result .user-result .invite-form { grid-area: invite; }

.friend-result .user-result .username {
    grid-area: username;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-card-mini {
    display: grid;
    grid-template-areas: "gravatar username";
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    padding: 2%;
}

.user-card-mini .gravatar-sm { grid-area: gravatar; }

.user-card-mini .username {
    grid-area: username;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-card-mini .username-container { width: 100%; }

.autocomplete-items .autocomplete-item:hover { background-color: #3a3d40; }

.autocomplete-items.user-search-error {
    background-color: #1a1d20; /* Fallback  color. */
    background-color: rgba(26, 29, 32, 0.9);
    margin: 1px;
    padding: 5px;
}