.user-card {
    margin-bottom: 3px;
    padding: 5% 7%;
    align-items: center;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 20% 80%;
    grid-template-areas: "gravatar username";
}

.user-card .gravatar { grid-area: gravatar; }

.user-card .username {
    grid-area: username;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}

@media (min-width: 768px) {
    .user-card .username { font-size: 16px; }
}

.user-card .username-container { width: 100%; }
