.user-card-mini { padding: 2% }

#user-search-form {
    padding: 10px;
    width: 250px;
}

.user-search-autocomplete {
    position: relative;
}

.autocomplete-items {
    top: -6vh;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    border: 2px solid #1d1c1b;
    max-height: 25vh;
}

.autocomplete-items .autocomplete-item {
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    background-color: #1a1d20; /* Fallback color. */
    background-color: rgba(26, 29, 32, 0.5);
    display: flex;
    justify-content: space-between;
}

.autocomplete-items .autocomplete-item:hover { background-color: #3a3d40; }

.autocomplete-items.user-search-error {
    padding: 5px;
    margin: 1px;
    background-color: #1a1d20; /* Fallback  color. */
    background-color: rgba(26, 29, 32, 0.5);
}