.main-component {
    align-items: center;
    display: grid;
    grid-template-areas: "gravatar username";
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    margin-bottom: 3px;
    padding: 5% 7%;
    width: 100%;
}

.main-component .gravatar { grid-area: gravatar; }

.main-component .username {
    font-size: 14px;
    grid-area: username;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-card.with-sub-component {
    display: grid;
    grid-template-areas: "maincomponent subcomponent";
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
}

.user-card.with-sub-component .main-component {
    grid-area: maincomponent
}

.user-card.with-sub-component .sub-component {
    grid-area: subcomponent
}

@media (min-width: 768px) {
    .main-component .username { font-size: 16px; }
}

.main-component .username-container { width: 100%; }