@model GameBoard.Models.GameEvent.RemoveFromGameEventViewModel

<form class="remove-from-game-event-form" asp-action="RemoveFromGameEvent" asp-controller="GameEventParticipation"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-success="gameEventInviteFormPopoverGenerator.generateSuccessPopover(document.querySelector('#remove-from-game-event-@Model.UserName'), xhr)"
      data-ajax-failure="gameEventInviteFormPopoverGenerator.generateErrorPopover(document.querySelector('#remove-from-game-event-@Model.UserName'), xhr)">
    <input type="hidden" asp-for="@Model.GameEventId" />
    <input type="hidden" asp-for="@Model.UserName" />
    <button id="remove-from-game-event-@Model.UserName" type="submit" class="btn btn-dark" data-toggle="popover" data-placement="right"
            title="Remove @Model.UserName from the @Model.GameEventId event">
        <i class="fa fa-send"></i>
    </button>
</form>
