@model GameBoard.Models.GameEvent.RemoveFromGameEventViewModel

@*TODO: remove-from-game-event-form*@
<form class="game-event-invite-form" asp-action="RemoveFromGameEvent" asp-controller="GameEventParticipation" method="get">
    <input type="hidden" asp-for="@Model.GameEventId" />
    <input type="hidden" asp-for="@Model.UserName" />
    <button type="submit" class="btn btn-dark" title="Remove @Model.UserName from the @Model.GameEventName event">
        <i class="fa fa-remove"></i>
    </button>
</form>
